:root {
    --primary-color: #081621;
    --secundary-color: rgba(143, 176, 154, 0.85);
}

.search__container {
    height: 5.3vh;
    width: 36.8vw;
    background-color: var(--secundary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
    border-radius: 10px;
}

.search__container input {
    width: 80%;
    height: 60%;
    border-radius: 5px;
}

/* .card {
    place-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 279px;
    width: 308px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
} */

.cards__container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    padding: 16px;
}

.cards__container card-http {
    place-self: center;
}

/* .http-image {
    background: url(../img/image.png);
    height: 100%;
    width: 80%;
    background-size: cover;
    background-position: center;
}

.http-name {
    font-weight: 700;
    font-size: 1.3rem;
}

.http-status {
    font-weight: 700;
    font-size: 1rem;
} */